
name: Terraform AWS Dev CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.9.8

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Terraform Init
        run: terraform init
        working-directory: ./environments/dev

      - name: Terraform Format
        run: terraform fmt -check
        working-directory: ./environments/dev

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./environments/dev

      - name: Terraform Plan
        run: terraform plan -var="aws_region=${{ secrets.TF_VAR_aws_region }}"
        working-directory: ./environments/dev

      - name: Terraform Apply (auto-approve)
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -var="aws_region=${{ secrets.TF_VAR_aws_region }}"
        working-directory: ./environments/dev

